{% extends "base.html" %}
{% block content %}

<div style="display: flex; align-items: center; gap: 10px;">
  <a href="{{ url_for('home') }}" class="close-button" style="font-size:24px; text-decoration:none; color:black;">&lt;</a>
  <h2 style="margin: 0 0 0 30px;">laststeftoeunity</h2>
</div>


<div id="wishes-container">
  <h2>All Wishes for the Bride and Groom</h2>
  <ul id="wishes-list"></ul>
</div>

<br><br>

<script src="{{ url_for('static', filename='js/wishes.js') }}"></script>
{% endblock %}
