{% extends "base.html" %}
{% block content %}

<div class="header-bar">
  <div class="header-left">
    <a href="{{ url_for('home') }}" class="close-button">&lt;</a>
    <h2>laststeftoeunity</h2>
  </div>
  <div class="add-wish-button">
    <a href="{{ url_for('rsvp') }}" class="RSVP-btn add-wish-button">Add Wish</a>
  </div>
</div>


<div id="wishes-container">
  <h2>All Wishes for the Bride and Groom</h2>
  <ul id="wishes-list"></ul>
</div>

<br><br>

<script src="{{ url_for('static', filename='js/wishes.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}